<div id="tabs_onvif">
      
      <%= f.label :version_onvifdaemon, "onvifdaemon version" %>
      <%= f.text_field :version_onvifdaemon %>
      <br>      
      <%= f.label :version_onviftesttool, "onviftesttool info" %>
      <%= f.text_field :version_onviftesttool %>
      <br>          
</div> 